<h1>Welcome to Mad-Libs</h1>
<h2>Created by Craig Cammarata</h2>

<a href="/games">Start Playing!</a>

<%= link_to "All Story templates", controller: "stories" %>
<%= link_to "New Story", new_story_path %>
